.container {
    position: relative;
    width: 100%;
    height: 762px;
    background: #F3F3F3;
}

.header {
    width: 100%;
    height: 82px;
    background: #2B3647;
    display: flex;
}

.header-left {
    display: flex;
    flex: 1;
}

.header-mid {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-around;
}

.header-right {
    display: flex;
    flex: 1;
}

.logo {
    width: 57px;
    height: 69px;
    left: 335px;
    top: 7px;
}

.btn-src {
    text-decoration: none;
    height: 19px;
    left: 476px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn-login {
    text-decoration: none;
    height: 19px;
    left: 619px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn-register {
    text-decoration: none;
    height: 19px;
    left: 781px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFE040;
}

.contain {
    width: 100%;
    min-height: 500px;
    display: flex;
}

.contain-left {
    min-height: 500px;
    flex: 1;
}

.contain-mid {
    min-height: 500px;
    flex: 3;
}

.contain-right {
    min-height: 500px;
    flex: 1;
}

.footer {
    position: absolute;
    width: 100%;
    height: 212px;
    left: 0px;
}

.footer-bottom {
    position: absolute;
    width: 100%;
    height: 157px;
    left: 0px;
    background: #2B3647;
}

.course {
    background-color: #fff;
    width: 100%;
    min-height: 500px;
    margin: 5px 0;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
}

.answer {
    background: rgba(254, 250, 232, 0.9);
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
}

.questions {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
}

.title_question {
    color: #04BEE7;
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}

.question {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    padding: 0px 10px;
}

.answer>label {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.answer>input {
    background-color: #3FC0DA;
    cursor: pointer;
    font-size: 17px;
}