.container {
    position: relative;
    width: 100%;
    background: #F3F3F3;
}

.header {
    width: 100%;
    height: 82px;
    background: #2B3647;
    display: flex;
}

.header-left {
    display: flex;
    flex: 1;
}

.header-mid {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-around;
}

.header-right {
    display: flex;
    flex: 1;
}

.logo {
    width: 57px;
    height: 69px;
    left: 335px;
    top: 7px;
}

.btn-src {
    text-decoration: none;
    height: 19px;
    left: 476px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn-login {
    text-decoration: none;
    height: 19px;
    left: 619px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn-register {
    text-decoration: none;
    height: 19px;
    left: 781px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFE040;
}

.contain {
    width: 100%;
    min-height: 500px;
    display: flex;
}

.contain-left {
    min-height: 500px;
    flex: 1;
}

.contain-mid {
    min-height: 500px;
    flex: 3;
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
}

.contain-right {
    min-height: 500px;
    flex: 1;
}

.footer {
    width: 100%;
    height: 212px;
}

.footer-top {
    width: 100%;
    height: 55px;
    background-image: url(./images/navy-bg.png);
}

.footer-bottom {
    width: 100%;
    height: 157px;
    background: #2B3647;
    display: flex;
}

.footer_left {
    flex: 1;
}

.footer_mid {
    flex: 3;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_right {
    flex: 1;
}

.ft_bt_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.ft_bt_left>a {
    padding: 10px;
    color: #FFFFFF;
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
}

.ft_bt_mid {
    flex: 2;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ft_bt_mid>p {
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #C4C4C4;
}

.icon_footer>a {
    padding: 0px 20px;
}

.ft_bt_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.ft_bt_right>a {
    padding: 10px;
    color: #FFFFFF;
}

.footer .course {
    background-color: #fff;
    width: 100%;
    min-height: 500px;
    margin: 5px 0;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
}

.answer {
    background: rgba(254, 250, 232, 0.9);
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
}

.questions {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
}

.title_question {
    color: #04BEE7;
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}

.question {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    padding: 0px 10px;
}

.answer>label {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.answer>input {
    background-color: #3FC0DA;
    cursor: pointer;
    font-size: 17px;
}

.total_question {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px;
}

.status_question {
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 5px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #000000;
}

.total_question>h4 {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    color: #3FC0DA;
    text-align: center;
}

.total_question_contain {
    margin: 15px;
}

.total_question_footer {
    height: 110px;
    width: 94%;
    background-color: #c4c4c4;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.total_question_footer_left {
    display: flex;
    flex-direction: column;
}

.total_question_footer_right {
    line-height: 52px;
}

.total_question_footer_right>span {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 50px;
}

.status_active {
    background-color: #3FC0DA;
}

.status_incorrect {
    background-color: red;
}

.timer-question {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timer-question>span {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #F2E391;
}

.btn-NopBai {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #3FC0DA;
    padding: 15px;
    width: 131px;
    height: 46px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 5px 0px 5px 50px;
    cursor: pointer;
}

.btn-NopBai:hover {
    background-color: #1da1f2;
}

.result {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px;
}

.result>h4 {
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    color: #3FC0DA;
    text-align: center;
}

.result>p {
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
    padding-left: 15px;
}

.radio_active {
    color: #3FC0DA !important;
}

.radio_correct {
    color: red !important;
}