.container-page {
    position: relative;
    width: 100%;
    background: #F3F3F3;
}

.header {
    width: 100%;
    height: 82px;
    background: #2B3647;
    display: flex;
}

.header-left {
    display: flex;
    flex: 1;
}

.header-mid {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-around;
}

.header-right {
    display: flex;
    flex: 1;
}

.login-box {
    width: 100%;
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 20px 400px;
    font-family: Roboto, sans-serif;
}

.login-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;    
    padding: 20px;
    color: #1BC47D;
}

.login-form {
    margin: 0 80px;
}

.input-group input {
    width: 100%;
    color: #696F79;
}

.btn-login-2 {
    width: 100%;
    background: #28a745;
    border-radius: 6px;
    margin-top: 20px;
}

.logo {
    width: 57px;
    height: 69px;
    left: 335px;
    top: 7px;
}

.btn-src {
    text-decoration: none;
    height: 19px;
    left: 476px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn-login {
    text-decoration: none;
    height: 19px;
    left: 619px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn-register {
    text-decoration: none;
    height: 19px;
    left: 781px;
    top: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFE040;
}

.contain {
    width: 100%;
    min-height: 500px;
    display: flex;
}

.contain-left {
    min-height: 500px;
    flex: 1;
    position: relative;
}

.info-left,
.info-right {
    position: fixed;
    width: 20%;
}

.contain-mid {
    min-height: 500px;
    flex: 3;
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
}

.contain-right {
    min-height: 500px;
    flex: 1;
}

.contain-course {
    min-height: 500px;
    flex: 3;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
}

.course {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
    flex: 3;
}

.user-name {
    flex: 1;
    margin: 5px 0;
}

.info-username {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.info-vip {
    color: #fff;
    padding: 2px;
    background-color: #FC0202;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    margin: 5px;
    margin-left: 110px;
}

.info-user {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.info-level {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* identical to box height */
    color: #959090;
    margin-bottom: 0;
}

.info-avatar {
    background-color: #FFC000;
    padding: 10px;
    display: inline-block;
    border-radius: 50px;
}

.info-score {
    padding: 10px;
    background-color: #1BC47D;
    width: 70px;
    display: inline;
    color: #fff;
}

.info-studying {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    padding-top: 10px;
}

.box-course {
    padding: 10px 20px 20px 20px;
}

.box-course>h4 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    color: #E76060;
}

.subject-contain {
    border-top: 2px solid #c4c4c4;
}

.subject-contain>h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    padding-top: 40px;
}

.subject-contain>a>p{
    color: black;
}

.subject-contain>a>p:hover{
    color: #1BC47D;
}

.footer {
    width: 100%;
    height: 212px;
}

.footer-top {
    width: 100%;
    height: 55px;
    background-image: url(./images/navy-bg.png);
}

.footer-bottom {
    width: 100%;
    height: 157px;
    background: #2B3647;
    display: flex;
}

.footer_left {
    flex: 1;
}

.footer_mid {
    flex: 3;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_right {
    flex: 1;
}

.ft_bt_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.ft_bt_left>a {
    padding: 10px;
    color: #FFFFFF;
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
}

.ft_bt_mid {
    flex: 2;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ft_bt_mid>p {
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #C4C4C4;
}

.icon_footer>a {
    padding: 0px 20px;
}

.ft_bt_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.ft_bt_right>a {
    padding: 10px;
    color: #FFFFFF;
}

.footer .course {
    background-color: #fff;
    width: 100%;
    min-height: 500px;
    margin: 5px 0;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
}

.answer {
    background: rgba(254, 250, 232, 0.9);
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
}

.questions {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
}

.title_question {
    color: #04BEE7;
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}

.question {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    padding: 0px 10px;
}

.answer>label {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.answer>input {
    background-color: #3FC0DA;
    cursor: pointer;
    font-size: 17px;
}

.total_question {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px;
}

.status_question {
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 5px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #000000;
}

.total_question>h4 {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #3FC0DA;
    text-align: center;
    margin: 15px;
}

.total_question_contain {
    margin: 0 15px 15px;
}

.total_question_footer {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.total_question_footer_left {
    display: flex;
    flex-direction: column;
}

.total_question_footer_right {
    line-height: 52px;
}

.total_question_footer_right>span {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 50px;
}

.total_question_footer_bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_active {
    background-color: #3FC0DA;
}

.status_incorrect {
    background-color: red;
}

.timer-question {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.timer-question>span {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #F2E391;
    padding-left: 20px;
}

.btn-NopBai {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #3FC0DA;
    padding: 15px;
    width: 131px;
    height: 46px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 5px 0px;
    cursor: pointer;
}

.btn-NopBai:hover {
    background-color: #1da1f2;
}

.result {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px;
}

.result>h4 {
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    color: #3FC0DA;
    text-align: center;
}

.result>p {
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
    padding-left: 15px;
}

.radio_active {
    color: #3FC0DA !important;
}

.radio_correct {
    color: red !important;
}

.avarUser {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* .subject {
    width: 140px;
    height: 160px;
} */

.cover-subject>img {
    width: 140px;
}

.subject {
    padding-right: 20px;
    margin-bottom: 70px;
}

.subject>p {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    color: #1BC47D;
    border: 1px solid #1BC47D;
    padding: 5px;
    border-radius: 10px;
}

.cover-subject {
    position: relative;
    width: 140px;
    height: 160px;
}

.img-top {
    position: absolute;
    top: 0
}

.img-bottom {
    position: absolute;
    bottom: 0;
}

.name-subject {
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.name-subject:hover {
    color: white;
}

.course>h3 {
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.list_subject {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    display: flex;
    width: 100%;
}

.details-left {
    flex: 1;
}

.details-right {
    flex: 1;
}

.details-mid {
    min-height: 500px;
    flex: 3;
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
}

.list-chapter {
    display: flex;
    width: 100%;
}

.list-chapter-mid {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
    min-height: 500px;
    flex: 3;
}

.list-chapter-left {
    flex: 1;
}

.list-chapter-right {
    flex: 1;
}

.btn-back {
    font-family: "Roboto Mono", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #959090;
    float: right;
    margin-top: 20px;
}

.hello-user-chapter {
    display: inline-block;
}

.details-chapter {
    width: 100%;
    display: flex;
}

.details-chapter-left {
    flex: 1;
}

.details-chapter-right {
    flex: 1;
}

.details-chapter-mid {
    flex: 3;
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 5px 0;
    min-height: 500px;
}

.btn-BaiTap {
    width: 110px;
    height: 38px;
    background: #1BC47D;
    border-radius: 7px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-BaiTap:hover {
    background: #14945f;
}

.btn-center{
    display: flex;
    justify-content: center;
}

.loader{
    width: 100%;
    height: 90%;
    background-color: #80808061;
    position: absolute;
    z-index: 1;
}

.loader_icon {
    top: 35%;
    left: 50%;
    position: absolute;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #14945f;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .dropdown .btn {
    padding: .2rem .6rem;
  }

  /* dots */
  .pindicator {
    background-color: white;
    display: flex;
    margin: 2rem auto 2rem;
    width: 30rem;
  }
  .pindicator .bullet {
    flex: 1;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
  }
  .pindicator .bullet::before,
  .pindicator .bullet::after {
    content: '';
    display: block;
    position: absolute;
    height: .2rem;
    top: 0.8rem;
    transform: translate3d(0,0,-1px);
  }
  .pindicator .bullet::before {
    background-color: lightgray;
    width: 100%;
  }
  .pindicator .bullet::after {
    background-color:#14945f;
    transition: opacity .25s ease-out;
    opacity: 0;
    width: 100%;
  }
  
  .pindicator .bullet:first-child::before,
  .pindicator .bullet:first-child::after {
    left: 50%;
    width: 50%;
  }
  .pindicator .bullet:last-child::before,
  .pindicator .bullet:last-child::after {
    width: 50%;
  }
  
  .pindicator .icon {
    background-color: lightgray;
    border-radius: 100%;
    color: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    display: inline-block;
    height: 2em;
    line-height: 2;
    text-align: center;
    transition: background-color .25s ease-out;
    width: 2em;
  }
  .pindicator .text {
    color: lightgray;
    font-size: .75rem;
    margin-top: 1rem;
    text-transform: uppercase;
    transition: background-color .25s ease-out;
  }
  .pindicator .past .icon,
  .pindicator .current .icon {
    background-color: #14945f;
    color: white;
  }
  
  .pindicator .past::after,  
  .pindicator .current::after {
    opacity: 1;
  }
  
  .pindicator .past .text,
  .pindicator .current .text,
  .pindicator .next .text {
    color: #14945f;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }